input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #ededed !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}

/*Webkit browsers*/

::-webkit-input-placeholder {
  color: #ececec;
}

/*Mozilla Firefox 4 to 18*/

:-moz-placeholder {
  color: #ececec;
  opacity: 1;
}

/*Mozilla Firefox 19 +*/

::-moz-placeholder {
  color: #ececec;
  opacity: 1;
}

/*Internet Explorer 10 +*/

:-ms-input-placeholder {
  color: #ececec;
}

.color-green {
  color: #44B549;
}

.color-red {
  color: red;
}

.right10 {
  margin-right: 10px;
}

.right20 {
  margin-right: 20px;
}

.bottom10 {
  margin-bottom: 10px;
}

.bottom20 {
  margin-bottom: 20px !important;
}

.bottom40 {
  margin-bottom: 40px !important;
}

.form {
  margin: 20px auto;
}

.form-item {
  margin-bottom: 20px;
}

input {
  padding: 2px 4px;
  height: 24px;
  font-size: 14px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  resize: none;
}

.btn-submit {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #44B549;
  border: none;
  cursor: pointer;
}

.bar {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  width: 2px;
  height: 20px;
  vertical-align: middle;
  background-color: #fff;
}

.icon {
  position: relative;
  display: inline-block;
}

.icon-avator {
  width: 34px;
  height: 34px;
  background-size: 100%;
  background-image: url('/img/icon-avator.png');
}

.icon-add {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-image: url('/img/icon-add.png');
}

.icon-back {
  background-size: 100%;
  background-image: url('/img/icon-back.png');
}

.icon-close {
  width: 28px;
  height: 28px;
  background-size: 100%;
  background-image: url('/img/icon-close.png');
}

.icon-down-arrow {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-image: url('/img/icon-down-arrow.png');
}

.avator {
  display: inline-block;
  margin-right: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  vertical-align: middle;
}

/* 公共头部开始 */

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  width: 100%;
  height: 68px;
  line-height: 68px;
  overflow: hidden;
  background-color: #373B41;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 180px;
  height: 68px;
  text-align: center;
  color: #fff;
  background-color: #4EE29A;
}

.logo img {
  float: left;
  width: 50%;
  margin-top: 12px;
  margin-left: 12px;
}

.logo sub {
  position: absolute;
  top: 30px;
  left: 104px;
  line-height: normal;
}

header .user-right {
  margin-right: 24px;
}

.user-right a, .user-right span {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.user-right .icon-avator {
  margin-right: 8px;
  vertical-align: middle;
}

.user-right .txt-center {
  position: relative;
  top: 2px;
  color: #fff;
}

/* 公共头部结束 */

/* 中间部分开始 */

.main {
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F1F1F1;
  overflow: hidden;
}

.main .left-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 8px;
  width: 180px;
  text-align: center;
  line-height: 48px;
  background-color: #353942;
}

.left-nav ul {
  display: none;
}

.left-nav .nav-title {
  position: relative;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.left-nav span, .left-nav a {
  color: #fff;
}

.left-nav .icon {
  position: absolute;
  top: 15px;
  vertical-align: middle;
  background-size: 100%;
}

.left-nav .icon-logo {
  left: 18px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.left-nav .icon-down-arrow {
  right: 20px;
}

.left-nav li {
  line-height: 48px;
  margin-bottom: 1px;
}

.left-nav li a {
  padding-left: 2px;
  border-left: 2px solid #353942;
}

.icon-order {
  background-image: url('/img/icon-order.png');
}

.icon-goods {
  background-image: url('/img/icon-goods.png');
}

.icon-warehouse {
  background-image: url('/img/icon-warehouse.png');
}

.icon-member {
  background-image: url('/img/icon-member.png');
}

.icon-dictionary {
  background-image: url('/img/icon-dictionary.png');
}

.icon-setting {
  background-image: url('/img/icon-setting.png');
}

.left-nav ul li:hover a, .left-nav .nav-active a {
  display: block;
  height: 48px;
  color: #fff;
  background-color: #1A2030;
  border-left: 2px solid #4EE29A;
}

.right-content {
  position: absolute;
  top: 20px;
  left: 200px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  border-radius: 6px;
}

.right-content .content-header {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #F1F1F1;
  background-color: #F8F8F8;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-left: 4px solid #4EE29A;
}

.content-header .page-title {
  float: left;
  margin-left: 18px;
  font-size: 18px;
  letter-spacing: 2px;
}

.content-header .rg-operate {
  float: right;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.rg-operate .icon {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  vertical-align: middle;
  margin-right: 4px;
}

.content-main {
  margin: 20px 20px;
}

/* 搜索区域开始 */

.search-area {
  overflow: hidden;
}

.search-area .search-key {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

.search-area .search-key:last-child {
  margin-right: 0;
}

.search-area label {
  /* margin-right: 10px; */
}

.btn {
  width: 120px;
  height: 30px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn-search {
  font-size: 14px;
  color: #fff;
  border: 1px solid #44B549;
  background-color: #44B549;
}

.search-area input {
  width: 130px;
}

.goods-shelf .search-area input, .goods-shelf .search-area select {
  width: 180px;
}

/* 搜索区域结束 */

/* 数据列表开始 */

.data-lists {
  width: 100%;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.data-lists thead {
  background-color: #E7E7EB;
  line-height: 34px;
}

.data-lists tbody {
  font-size: 13px;
}

.data-lists tr {
  height: 50px;
}

.data-lists th {
  font-weight: normal;
}

.data-lists th, .data-lists td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.data-lists td {
  color: #555;
}

.data-lists tr:nth-child(2n) {
  background-color: #E7E7EB;
}

.data-lists a {
  color: #0000CC;
  text-decoration: underline;
}

.member-avator {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

/* 数据列表结束 */

/* 中间部分结束 */

/* 公共底部开始 */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #515151;
}

/* 公共底部结束 */

/* 登录/注册开始 */

.account {
  background: url("/img/bg.jpg") center 0 no-repeat #fff;
  background-attachment: scroll;
  background-size: auto auto;
  background-size: cover;
  background-attachment: fixed;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.account input, .account button {
  height: 40px;
  width: 100%;
}

.account .icon {
  position: absolute;
  display: block;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin-bottom: 8px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon-user {
  background-image: url('/img/icon-user.png');
}

.icon-pwd {
  background-image: url('/img/icon-pwd.png');
}

.account input {
  padding-left: 42px;
  color: #fff;
  background-color: transparent;
}

.account input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}

.account input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

.account input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

.account input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

.account .form-item {
  position: relative;
  margin-bottom: 24px;
}

.account .logo {
  position: absolute;
  top: 6%;
  left: 4%;
  background-color: transparent
}

.signin, .signup {
  display: block;
  position: absolute;
  margin-top: -60px;
  left: 50%;
  margin-left: -190px;
  width: 320px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  color: #fff;
  z-index: 2;
}

.signin {
  top: 40%;
  height: 306px;
}

.signup {
  top: 30%;
  height: 390px;
}

.form .form-title {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px
}

/* 登录/注册结束 */

/* 弹出层提示开始 */

.message {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 6px 20px;
  width: 130px;
  margin-left: -80px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  z-index: 102
}

.msg-error {
  background-color: #FF4431;
}

.msg-success {
  background-color: #44B549;
}

/* 弹出层提示结束 */

/* 商品上下架开始 */

.member-lists tbody, .member-address tbody {
  line-height: 60px;
}

.goods-shelf tbody tr {
  height: 80px;
}

.goods-shelf .search-area label {
  display: inline-block;
  width: 60px;
}

.goods-shelf .addgoods {
  margin-bottom: 20px;
  width: 170px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #44B549;
  background-color: #44B549;
}

.goods-shelf .goods-num {
  width: 60px;
  text-align: center;
}

.goods-shelf .goods-num input {
  width: 100%;
  text-align: center;
}

.goods-shelf .operate {
  width: 80px;
  line-height: 40px;
}

.goods-shelf .operate p {
  cursor: pointer;
}

/* 商品上下架结束 */

/* 错误页面开始 */

#error {
  margin: 20px 40px;
}

/* 错误页面结束 */

#overlay {
  background: #383838;
  filter: alpha(opacity=50);
  opacity: .5;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100
}