.warp{
  height: 100%;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}
/* 修改密码开始 */

.form-item label {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}

.form-item input {
  width: 390px;
}

.btn-save {
  float: left;
  margin-left: 70px;
  color: #fff;
  border: 1px solid #44B549;
  background-color: #44B549;
}

.btn-quit {
  color: #666666;
  margin-left: 100px;
  border: 1px solid #999999;
}

/* 修改密码结束 */

.changeinfo {
  width: 500px;
  margin-top: 30px;
  margin-left: 30px;
}

.form-item select, .form-item option {
  display: inline-block;
  width: 400px;
  height: 30px;
}

.user-avator {
  display: block;
  text-align: center;
  margin: 20px auto 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* 修改个人资料开始 */

/* 修改个人资料结束 */

/* 切换账号开始 */
.hasaccount{
  padding: 10px;
}

.account{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.headimg{
  width: 30px;
}

.name{
  position: absolute;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

.change{
  padding: 10px;
  margin-top: 15px;
  background-color: #fff;
}
/* 切换账号结束 */