.warp {
  height: 100%;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

/* 修改密码开始 */

.form-item label {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}

.form-item input {
  width: 390px;
}

.btn-save {
  color: #fff;
  border: 1px solid #44B549;
  background-color: #44B549;
}

.btn-quit {
  color: #666666;
  border: 1px solid #999999;
}

form .btn-save {
  margin-left: 70px;
}

form .btn-quit {
  margin-left: 100px;
}

/* 修改密码结束 */

.changeinfo {
  width: 500px;
  margin-top: 30px;
  margin-left: 30px;
}

.form-item select, .form-item option {
  display: inline-block;
  width: 400px;
  height: 30px;
}

.user-avator {
  display: block;
  text-align: center;
  margin: 20px auto 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* 修改个人资料开始 */

/* 修改个人资料结束 */

/* 切换账号开始 */

.hasaccount {
  padding: 10px;
}

.account-list {
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.account-list li {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.account-list p {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 6px;
  cursor: pointer;
}

.account-list .headimg {
  width: 30px;
  vertical-align: middle;
}

.account-list .name {
  margin-left: 10px;
  margin-right: 6px;
}

.account-list .delete {
  margin-top: 4px;
  margin-right: 10px;
}

.change {
  padding: 10px;
}

.confirm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-top: -160px;
  margin-left: -190px;
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 101;
}

.confirm .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.confirm p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.confirm .btn-save {
  margin-right: 40px;
}

/* 切换账号结束 */