{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/setting.css">
{% endblock %}
{% block body %}
  <div class="warp">
    <div class="hasaccount">已有账号</div>
    <div class="account">
      <p>
        <img src="{{session.avator}}" class="headimg">
        <span class="name">{{session.username}}</span>
        <span class="color-red">(当前账号)</span>
      </p>
    </div>
    <div class="change">
      <a href="/signin?mainid={{session.id}}" target="_self">换个新账号登录</a>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(function () {
      $.ajax({
        url: '/setting/findLinkAccountByMainId',
        data: {
          mainId: {{session.id}}
        },
        type: 'POST',
        cache: false,
        dataType: 'json',
        success: function (info) {
          console.log(info)
          if (info.status) {
            // 铺数据
            let data = info.data;
            let str = '';
            for (let i = 0; i < data.length; i++) {
              str += '<p class="link-account"  linkid="' + data[i].id + '">';
              str += '<img src="' + data[i].avator + '" class="headimg">';
              str += '<span class="name">' + data[i].username + '</span>';
              str += '</p>';
            }
            // $('.warp .account').empty()
            $('.warp .account').append(str)

            $('.link-account').click(function () {
              let linkId = $(this).attr('linkid')
              console.log(linkId)
              linkAccountLogin(linkId)
            })
          }
        },
        error: function (e) {
          console.log(e)
        }
      })
    })
    // 关联账号登录
    function linkAccountLogin(linkId) {
      $.ajax({
        url: '/setting/linkAccountLogin',
        data: {
          linkId: linkId
        },
        type: 'POST',
        cache: false,
        dataType: 'json',
        success: function (info) {
          if (!info.status) {
            $('.msg-error').text(info.msg)
            fade('.msg-error')
          } else {
            $('.msg-success').text(info.msg)
            fade('.msg-success')
            setInterval(() => {
              window.location.reload()
            }, 1000)
          }
        },
        error: function (e) {
          console.log(e)
        }
      })

    }
  </script>
{% endblock %}