{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/setting.css">
{% endblock %}
{% block body %}
  <form class="changepwd">
    <div class="form-item">
      <label for="oldpwd">原密码</label>
      <input type="password" id="oldpwd" name=""/>
    </div>
    <div class="form-item">
      <label for="newpwd">新密码</label>
      <input type="password" id="newpwd" name=""/>
    </div>
    <div class="form-item bottom40">
      <label for="confirmpwd">确认密码</label>
      <input type="password" id="confirmpwd" name=""/>
    </div>
    <button type="button" class="btn btn-save">保存</button>
    <button type="reset" class="btn btn-quit">取消</button>
  </form>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(function () {
      $('#confirmpwd').bind('keyup', function (event) {
        if (event.keyCode == "13") {
          //回车执行提交
          $('.btn-save').click();
        }
      });
      $('.btn-save').click(() => {
        let uid = {{session.id}};
        let oldpwd = $("#oldpwd").val()
        let newpwd = $("#newpwd").val()
        let confirmpwd = $("#confirmpwd").val()

        $.ajax({
          url: '/setting/updatePwd',
          data: {
            uid: uid,
            oldpwd: oldpwd,
            newpwd: newpwd,
            confirmpwd: confirmpwd
          },
          type: 'POST',
          cache: false,
          dataType: 'json',
          success: function (info) {
            if (!info.status) {
              $('.msg-error').text(info.msg)
              utils.fadeTip('.msg-error')
            } else {
              $('.msg-success').text(info.msg)
              utils.fadeTip('.msg-success')
              setInterval(() => {
                window.location.href = "/signin"
              }, 1000)
            }
          },
          error: function (e) {
            console.log(e)
          }
        })
      })

    })
  </script>

{% endblock %}