{% extends "../common/layout.html" %} {% block head %}
<link rel="stylesheet" href="/css/dictionary.css"> {% endblock %} {% block operate %}
<div class="rg-operate">
  <a href="/dictionary/goods/base">
      <i class="icon icon-add"></i>
      <span>创建商品</span>
    </a>
</div>
{% endblock %} {% block body %}
<!-- 搜索区域 -->
<div class="search-area">
  <form id="searchGoods">
    <div class="search-key">
      <label for="goodsname">商品名称</label>
      <input type="text" id="goodsName" name="goodsName" />
    </div>
    <div class="search-key">
      <label for="customer">商品品牌</label>
      <select id="goodsBrandId" name="goodsBrandId"></select>
    </div>
    <div class="search-key">
      <label for="customer">商品分类</label>
      <select id="goodsCategoryId" name="goodsCategoryId"></select>
    </div>
    <div class="search-key">
      <label for="customer">单位</label>
      <select id="goodsUnit" name="goodsUnit"></select>
    </div>
    <div class="search-key">
      <label for="customer">价格排序</label>
      <select id="priceSort" name="priceSort">
          <option value="">请选择</option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select>
    </div>
    <div class="search-key">
      <button type="button" class="btn btn-search">查询</button>
    </div>
  </form>
</div>
<!-- 数据列表 -->
<table class="data-lists">
  <thead>
    <tr>
      <td>序号</td>
      <td>商品编号</td>
      <td>商品名称</td>
      <td>商品简称</td>
      <td>品牌</td>
      <td>分类</td>
      <td>单位</td>
      <td>销售单价(元)</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <!-- <tr> <td>1</td> <td>SP00001</td> <td class="goods-name">爱力优3段12至36个月婴幼儿配方国产牛奶罐装900g湿法工艺清真认证1箱</td> <td>爱力优3段 900g罐装一箱</td> <td>爱力优</td> <td>3段（12-36月幼儿）</td> <td>箱</td> <td>1100.00</td> <td class="operate"> <p class="edit">编辑</p> <p
      class="color-red delete">删除</p> </td> </tr> -->
  </tbody>
</table>
{% endblock %} {% block js%}
<script type="text/javascript" src="/js/dictionary_goods.js"></script>
{% endblock %}