{% extends "../../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/dictionary-goods.css">
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
  <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
  <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
  <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
{% endblock %}
{% block operate %}
  <div class="rg-operate">
    <a href="/dictionary/goods">
      <i class="icon icon-back"></i>
      <span>返回列表</span>
    </a>
  </div>
{% endblock %}
{% block body %}
  <!-- tab 导航 -->
  <ul class="tab-nav">
    <li class="base-info active">
      <a href="javascript:void(0);">1.基本信息</a>
    </li>
    <li class="goods-spec">
      <a href="javascript:void(0);">2.规格参数</a>
    </li>
    <li class="goods-slides">
      <a href="javascript:void(0);">3.轮播图</a>
    </li>
  </ul>
  <form class="base-form add-form">
    <div class="form-item">
      <label for="">商品编号</label>
      <input type="text" id="goodsCode" name="code" readonly="readonly" disabled="disabled" value="">
    </div>
    <div class="form-item">
      <label for="">商品名称</label>
      <input type="text" id="goodsTitle" placeholder="请输入商品全称（包含品牌、阶段、包装等）">
    </div>
    <div class="form-item">
      <label for="">商品简称</label>
      <input type="text" id="goodsAbbr" placeholder="请输入商品简称方便检索">
    </div>
    <div class="form-item">
      <label for="">销售单价</label>
      <input type="number" id="salePrice" placeholder="请输入商品销售单价（单位：元）">
    </div>
    <div class="form-item">
      <label for="">商品品牌</label>
      <select id="goodsBrand" selectname="" name="goodsBrandId"></select>
    </div>
    <div class="form-item">
      <label for="">商品分类</label>
      <select id="goodsCategory" selectname="" name="goodsCategoryId"></select>
    </div>
    <div class="form-item">
      <label for="">商品单位</label>
      <select id="goodsUnit" selectname="" name="goodsUnit"></select>
    </div>
    <div class="form-item">
      <label for="">商品排序</label>
      <input type="number" id="sortNum" placeholder="请输入排序数字">
    </div>
    <div class="form-item">
      <label for="" class="fl">商品详情</label>
      <script id="editor" class="fl" type="text/plain" style="width:800px;height:300px;margin-left:4px;"></script>
    </div>
    <div class="form-item">
      <button type="button" class="btn btn-save save-info">下一步</button>
      <!-- <button type="button" class="btn btn-quit">取消</button> -->
    </div>
  </form>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/js/dictionary_query.js"></script>
  <script type="text/javascript">
    //实例化编辑器 建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor', {
      toolbars: [
        [
          'undo', //撤销
          'redo', //重做
          'bold', //加粗
          'italic', //斜体
          'underline', //下划线
          'indent', //首行缩进
          'forecolor', //字体颜色
          'insertorderedlist', //有序列表
          'insertunorderedlist', //无序列表
          'fontfamily', //字体
          'fontsize', //字号
          'paragraph', //段落格式
          'subscript', //下标
          'superscript', //上标
          'horizontal', //分隔线
          'removeformat', //清除格式

          'link', //超链接
          'unlink', //取消链接
          'formatmatch', //格式刷
          'cleardoc', //清空文档
          'preview', //预览
          'fullscreen', //全屏
        ]
      ],
      autoHeightEnabled: true,
      autoFloatEnabled: true
    });
    $(function () {
      // 判断创建商品还是编辑商品
      let goodsId = '{{goodsId}}'
      if (!goodsId) {
        /** 没有商品 id，表示创建商品 **/
        $('.page-title').text('商品字典——创建商品')
        // Step1 清空当前商品字典记录
        currGoods = {}
        // Step2 查询最新商品字典id
        let num = findLastGoodsId();
        let newCodeNum = 'SP000' + (
          ++num
        );
        $('#goodsCode').val(newCodeNum)
      } else {
        /** 编辑商品 **/
        $('.page-title').text('商品字典——编辑商品')
        currGoods.goods_id = goodsId;
        // Step1 查看该商品信息
        findGoodsById(goodsId)
      }
      // 查询商品品牌
      findParentDicByCode('brand')
      // 查询商品分类
      findParentDicByCode('category')
      // 查询计量单位
      findParentDicByCode('unit')
      // 保存修改的信息
      $('.save-info').click(function () {
        saveGoodsInfo();
      })

    })
    // 查询商品字典最后一个记录Id
    function findLastGoodsId() {
      let codeNum;
      $.ajax({
        url: '/dictionary/findLastGoodsId',
        type: 'GET',
        catche: false,
        dataType: 'json',
        async: false,
        success: function (info) {
          codeNum = info.data;
        }
      })
      return codeNum;
    }
    // 保存商品字典记录
    function saveGoodsInfo() {
      /**
       *  code: 商品编号
       *  title: 商品名称
       *  abbr: 商品简称
       *  brand_id: 品牌id
       *  brand_name: 品牌名称
       *  category_id: 分类id
       *  category_name: 分类名称
       *  unit_id: 计量单位id
       *  unit_name: 计量单位名
       *  sale_price:  销售单价
       *  sort: 排序
       */
      let url = '/dictionary/addGoods'
      if (currGoods.goods_id) {
        url = '/dictionary/updateGoodsById'
      }
      $.ajax({
        url: url,
        type: 'POST',
        data: {
          'code': $('#goodsCode').val(),
          'title': $('#goodsTitle').val(),
          'abbr': $('#goodsAbbr').val(),
          'sale_price': $('#salePrice').val(),
          'brand_id': $('#goodsBrand').val(),
          'brand_name': $('#goodsBrand').attr('selectname'),
          'category_id': $('#goodsCategory').val(),
          'category_name': $('#goodsCategory').attr('selectname'),
          'unit_id': $('#goodsUnit').val(),
          'unit_name': $('#goodsUnit').attr('selectname'),
          'sort': $('#sortNum').val(),
          'goods_desc': ue.getPlainTxt(),
          'goods_id': currGoods.goods_id
        },
        catche: false,
        dataType: 'json',
        success: function (info) {
          console.log(info);
          if (info.status) {
            //成功
            $('.msg-success').text(info.msg)
            utils.fadeTip('.msg-success')
            setInterval(() => {
              location.href = '/dictionary/goods/specification?goodsId=' + goodsId
            }, 1000)
          } else {
            $('.msg-error').text(info.msg)
            utils.fadeTip('.msg-error')
          }
        }
      })
    }
  </script>
{% endblock %}