<!-- 左侧菜单 -->
<div class="left-nav">
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-order"></i>
      <span>订单管理</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="order-new">
        <a href="/orders/new">新订单</a>
      </li>
      <li class="order-sending">
        <a href="/orders/sending">配送中</a>
      </li>
      <li class="order-end">
        <a href="/orders/end">已完成</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-goods"></i>
      <span>商品管理</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="goods-shelf">
        <a href="/goods/shelf">商品上下架</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-warehouse"></i>
      <span>仓储管理</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="storage-warehouse">
        <a href="/storage/warehouse">仓库管理</a>
      </li>
      <li class="storage-purchase">
        <a href="/storage/purchase">采购入库</a>
      </li>
      <li class="storage-sale">
        <a href="/storage/sale">销售出库</a>
      </li>
      <li class="storage-return">
        <a href="/storage/return">销售退货</a>
      </li>
      <li class="storage-check">
        <a href="/storage/check">库存盘点</a>
      </li>
      <li class="storage-lists">
        <a href="/storage/lists">库存清单</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-member"></i>
      <span>会员管理</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="member-lists">
        <a href="/member/lists">会员列表</a>
      </li>
      <li class="member-address">
        <a href="/member/address">收货地址</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-dictionary"></i>
      <span>基础资料</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="dictionary-category">
        <a href="/dictionary/category">分类字典</a>
      </li>
      <li class="dictionary-goods">
        <a href="/dictionary/goods">商品字典</a>
      </li>
      <li class="dictionary-customer">
        <a href="/dictionary/customer">客户列表</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <p class="nav-title" flag="close">
      <i class="icon icon-logo icon-setting"></i>
      <span>账户设置</span>
      <i class="icon icon-down-arrow"></i>
    </p>
    <ul>
      <li class="change-pwd">
        <a href="/setting/changepwd">修改密码</a>
      </li>
      <li class="change-info">
        <a href="/setting/changeinfo">个人资料</a>
      </li>
      <li class="change-account">
        <a href="/setting/changeaccount">账号切换</a>
      </li>
    </ul>
  </div>
</div>